.mui-panel > .mui-tabs__bar > li > a {
    cursor: auto;
}

.mui-panel {
    text-align: left; !important;
}

#simplemodal-container {
    padding: 20px; !important;
    min-width: 300px; !important;
    min-height: 300px; !important;
}

.side-tabnav h3.hd,
.side-tabnav .hd h3 {
    color: rgba(0,0,0,.9);
}

.side-tabnav-tabs .tab-cur [class^="sf2-icon-"], .side-tabnav-tabs .tab-cur a, #group-nav .tab-cur .sharp {
    color: #2196F3;
}

.side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover {
    background-color: transparent;
    color: #2196F3;
}

.side-tabnav-tabs .tab a:hover [class^="sf2-icon-"],
#group-nav a:hover .sharp,
.side-tabnav-tabs .tab a:hover {
    background-color: deepskyblue;
    color: #fefefe;
}