{% extends "sysadmin/base.html" %}
{% load i18n %}
{% block cur_repo %}tab-cur{% endblock %}

{% block right_panel %}
    <div class="mui-panel">
        <ul class="mui-tabs__bar">
            <li><a href="{% url 'sys_repo_admin' %}">{% trans "All" %}</a></li>
            <li class="mui--is-active"><a href="{% url 'sys_list_system' %}">{% trans "System" %}</a></li>
            <li><a href="{% url 'sys_repo_trash' %}">{% trans "Trash" %}</a></li>
        </ul>
    </div>

    {% if repos %}
        <table>
            <tr>
                <th width="25%">{% trans "Name" %}</th>
                <th width="35%">ID</th>
                <th width="40%">{% trans "Description" %}</th>
            </tr>
            {% for repo in repos %}
                <tr>
                    <td><a href="{% url 'sys_admin_repo' repo.id %}">{{ repo.props.name }}</a></td>
                    <td style="font-size:11px;">{{ repo.id }}</td>
                    <td>{{ repo.props.desc }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "None" %}</p>
    {% endif %}

{% endblock %}
