{% load seahub_tags i18n %}
<li><a href="#">{% trans "Used:" %} {{ space_usage|seahub_filesizeformat }} {% if space_quota > 0 %}/
    {{ space_quota|seahub_filesizeformat }} {% endif %}</a></li>
{% if space_quota > 0 %}
    <li id="quota-bar">
        <a href="http://www.seafile.com/{% if LANGUAGE_CODE != 'zh-cn' %}en/{% endif %}help/quota/" target="_blank">
            <span id="quota-usage" class="usage" style="width:{{ rates.space_usage }};"></span>
        </a>
    </li>
{% endif %}

{% if user.trialing %}
    <li><a href="{{ user.trial_info.payment_url }}">Trial expires at {{ user.trial_info.expire_date|date:"Y-m-d" }}</a>
    </li>
{% endif %}
</div>

{% if SHOW_TRAFFIC and TRAFFIC_STATS_ENABLED %}
    <li><a href="#" id="traffic-stat">{% trans "Traffic this month:" %} {{ traffic_stat|filesizeformat }}</a></li>
{% endif %}

{% if ENABLE_PAYMENT %}
    <li><a href="{{ payment_url }}">{% trans "Payment" %}</a></li>
{% endif %}
