{% load i18n %}
<script type="text/template" id="dir-view-tmpl">
    <div class="mui-panel">
        <p class="path"></p>
        <div class="repo-op" style="background-color: transparent"></div>
    </div>
    <div class="js-dir-content">
        <table class="repo-file-list">
            <thead></thead>
            <tbody></tbody>
        </table>
        <ul class="grid-view hide">
        </ul>
    </div>
    <span class="loading-icon loading-tip"></span>
    <p class="error hide"></p>
</script>
