{% load staticfiles i18n %}
{% load compress %}
{% load seahub_tags avatar_tags group_avatar_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block sub_title %}{% endblock %}{{ site_title }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{% trans "File Collaboration Team Organization" %}"/>
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.png?t=1398068110"/>
    <!--[if IE]>
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.png?t=1398068110"/>
<![endif]-->

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub.css"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/select2-3.5.2.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/backbone.css" %}"/>
    {% endcompress %}

    {% block extra_style %}{% endblock %}
    {% if branding_css != '' %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ branding_css }}"/>{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style_patch.css"/>

</head>

<body>
<div id="wrapper" role="application" class="{{ LANGUAGE_CODE }}">
    <!--[if lt IE 10]>
        <p id="top-browser-tip">{% trans "We no longer support this version of IE. Please upgrade it to version 10 or above." %} <span class="close">{% trans "Close" %}</span></p>
        <![endif]-->
    {% block info_bar_message %}
        {% if request.user.is_authenticated and request.cur_note %}
            <div id="info-bar">
                <p id="info-bar-info">{{ request.cur_note.message|urlize }}</p>
                <span class="close sf2-icon-x1 op-icon" title="{% trans "Close" %}"></span>
            </div>
        {% endif %}
    {% endblock info_bar_message %}

    {% include 'site_header.html' %}

    <div id="main" class="clear">
        <div id="left-panel">
            <div class="side-tabnav hide" id="side-nav" role="navigation"></div>
        </div>
        <div id="right-panel" role="main">
            {% block right_panel %}{% endblock %}
        </div>
        <div id="main-panel" class="clear w100 ovhd">
            <div id="initial-loading-view">
                <span class="loading-icon loading-tip"></span>
            </div>
        </div>

        <div id="confirm-popup" class="hide">
            <div id="confirm-con"></div>
            <button id="confirm-yes" class="btn">{% trans "Yes" %}</button>
            <button class="simplemodal-close btn">{% trans "No" %}</button>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'js/templates.html' %}
</div><!-- wrapper -->

<script type="text/javascript">
    var app = {
        config: {
            mediaUrl: '{{ MEDIA_URL }}',
            siteRoot: '{{ SITE_ROOT }}'
        }
    };
</script>
<script src="{{ STATIC_URL }}scripts/i18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mui.min.js"></script>
{% block extra_script %}{% endblock %}

</body>
</html>
