{% load i18n %}
<!--
<div id="footer" role="contentinfo" class="ovhd">
  <div class="items fleft">
    <div class="item">
      <h4>{% trans "Documents" %}</h4>
      <ul>
          <li><a href="{{SITE_ROOT}}help/" target="_blank">{% trans "Help" %}</a></li>
      </ul>
    </div>
    <div class="item">
      <h4>{% trans "Client" %}</h4>
      <ul>
        <li><a href="{% url 'download_client' %}">{% trans "Seafile for Windows, Mac and Linux" %}</a></li>
      </ul>
    </div>
    <div class="item">
      <ul>
          <li><p>{% trans "Server Version: " %}{{ seafile_version }}</p></li>
      </ul>
    </div>
  </div>
</div>
-->